groups:
  - name: More get requests than 20
    rules:
      - alert: Between20And25
        expr: flask_http_request_total{method="GET",status="200"} > 20 and flask_http_request_total{method="GET", status="200"} < 25
        for: 10s

  - name: Flask errors
    rules:
      - alert: FlaskHttp5xx
        expr: rate(flask_http_request_total{instance="flask",status=~"5.."}[1m]) > 0
        for: 1m
        labels:
          severity: critical
          service: microblog
        annotations:
          summary: "5xx errors in Microblog"
          description: "{% raw %}{{ $value | printf \"%0.2f\" }}{% endraw %} req/s failing with 5xx over the last minute."
