name: CD

on:
  workflow_run:
    workflows: ["Security Checks"]
    types:
      - completed

jobs:
  test:
    uses: ./.github/workflows/ci.yml

  build-and-push:
    runs-on: ubuntu-latest
    needs: test
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Get version from tag
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT
      
      - name: Log in to Dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile_prod
          push: true
          tags: |
            linusjonathansandin/microblog:v${{ steps.get_version.outputs.VERSION }}-prod
