name: Deploy microblog

on:
  push:
    tags:
      - "v*"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/deploy.txt
        ansible-galaxy collection install azure.azcollection --force
        pip install --upgrade msal msal-extensions azure-cli-core azure-common
        pip install -r ~/.ansible/collections/ansible_collections/azure/azcollection/requirements.txt
        cd ansible && ansible-galaxy install -r requirements.yml

    - name: Setup SSH 
      shell: bash
      run: |
        eval `ssh-agent -s`
        mkdir -p /home/runner/.ssh/
        touch /home/runner/.ssh/id_rsa
        echo -e "${{secrets.SSH_PRIVATE_KEY}}" > /home/runner/.ssh/id_rsa
        chmod 700 /home/runner/.ssh/id_rsa

    - name: Run playbook
      run: cd ansible/ && ansible-playbook  -i hosts deploy_appserver.yml  --private-key=/home/runner/.ssh/id_rsa
      env:
        ANSIBLE_HOST_KEY_CHECKING: "False"
